name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout do Código
      uses: actions/checkout@v4
      with:
          fetch-depth: 0 # Necessário para o Sonar
      
    - name: Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Definir tags
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ secrets.DOCKER_USERNAME }}/modulo3
        tags: |
          type=raw,value=latest
          type=sha,format=short
      
    - name: Construir e Enviar (Push) a Imagem
      uses: docker/build-push-action@v5
      with:
        context: . # Onde está o Dockerfile (padrão é o diretório raiz)
        push: true # Faz o push para o Docker Hub
        tags: ${{ steps.meta.outputs.tags }} # Usa as tags definidas na etapa anterior
        labels: ${{ steps.meta.outputs.labels }}
